<ion-header>
  <ion-toolbar color="light">
    <h1>Conquistas</h1>
    <ion-icon slot="start" name="trophy-outline" class="ion-padding" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-item>
  <h2>Curtir 5 noticias</h2>
  <ion-button slot="end">
    Resgatar
  </ion-button>

</ion-item>
<ion-item>
  <h2>Curtir 10 noticias</h2>
  <ion-button slot="end">
    Resgatar
  </ion-button>
</ion-item>
<ion-item>
  <h2>Curtir 20 noticias</h2>
  <ion-button slot="end">
    Resgatar
  </ion-button>
</ion-item>
<ion-item>
  <h2>Compartilhar 5 noticias</h2>
  <ion-button slot="end">
    Resgatar
  </ion-button>
</ion-item>

<ion-content>
</ion-content>