<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-title>
      <img class="simbol-mobiplay"
        src="https://cdn.discordapp.com/attachments/766065035083644988/766107805320871946/logo-mobiplay.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>Login</h2>

  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-button shape class="ion-padding">
    Entrar
  </ion-button>
  <ion-button shape="round" routerLink="cadastro" class="ion-padding">
    Cadastrar
  </ion-button>

</ion-content>