<ion-content class="ion-padding">
  <h1><strong>Sobre a Mobiplay</strong></h1>
  <i-col>
    <h2 class="ion-text-justify">
      Uma empresa que surgiu graças a um projeto da faculdade, hoje se consiste em quatro amigos apaixonados por
      tecnologia e jogos mobile, e em meio de um problema em comum, decididos fundar a PlayMobile e assim divulgar a
      nossa opinião e noticias referentes a jogos mobile.
    </h2>
  </i-col>
  <h1><strong>Missão</strong></h1>
  <i-col>
    <h2 class="ion-text-justify">
      Nossa missão como um veiculo de comunicação, é transmitir as melhores notícias e conteúdo para toda a nossa
      comunidade de gamers mobile.
    </h2>
  </i-col>



</ion-content>